<!-- My services -->

<section class="my_services">
    <br>
    <br>
    <br>
    <br>
    <h2 class="section__title section__title--services">What I do</h2>
    <br>
    <div class="services">


        <div class="service">
            <h3>DESIGN</h3>
            <p>It involves planning and iterating a site's structure and layout. Once the proper information architecture is in place, I design the visual layer to create a beautiful user experience.</p>
        </div>
<br>
<br>



        <div class="service">
            <h3>FRONT END DEVELOPMENT</h3>
            
            <p>Front End Development is building out the visual components of a website. Using HTML, CSS, Javascript & Angular, I build fast, interactive websites.</p>
            
        </div>
<br>
<br>
<br>




    

</div>


<div>
<a routerLink="/my-work" class="btn">My Work</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</section>

<!-- Footer -->

<footer class="footer">
    <a href="mailto:manisha.hatzade@gmail.com" class="footer-link">manisha.hatzade@gmail.com</a>
    
       <ul class="social-list">
          <li class="social-list__item">
            <a class="social-list__link" href="https://codepen.io/manishahatzade"><i class="fab fa-codepen"></i></a>
          </li>
          
          <li class="social-list__item">
            <a class="social-list__link" href="https://github.com/manishaoh"><i class="fab fa-github"></i></a>
          </li>
    
          <li class="social-list__item">
            <a class="social-list__link" href="https://www.linkedin.com/in/manisha-hatzade-1946301b4/"><i class="fab fa-linkedin"></i></a>
          </li>
    
          <li class="social-list__item">
            <a class="social-list__link" href="https://www.hackerrank.com/manisha_hatzade"><i class="fab fa-hackerrank"></i></a>
          </li>
       </ul>
    </footer>