<header>
  <div class="logo">
    
    <button class="nav-toggle" aria-label="toggle navigation"><span class="hamburger"></span>
      <a routerLink="/navbutton" class="nav_button"></a>
    </button>
    
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a routerLink="/home" class="nav__link">Home</a></li>
        <li class="nav__item"><a routerLink="/about-me" class="nav__link">About me</a></li>
        <li class="nav__item"><a routerLink="/my-services" class="nav__link">My services</a></li>
        <li class="nav__item"><a routerLink="/my-work" class="nav__link">My work</a></li>
        
      </ul>
      
    </nav>
    
  </div>
</header>




<router-outlet></router-outlet>
